
// Widget
.widget{
    background:$light-blue;
    margin-bottom:$xl-size;
}
// Widget Message
.widget__message{
    color:$off-white;
    text-align:center;
    margin:0;
    padding:$l-size;
    border-bottom: 1px solid lighten($light-blue,10%);
}

// Widget Header
.widget-header{
    background:$blue;
    display:flex;
    justify-content:space-between;
    color:$off-white;
    padding:$m-size;
}

.widget-header__title{
    margin:0;
  
}



